.homepage{
    background-image: url('img/fundo.jpg');
    background-repeat: no-repeat;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    color: black;
    overflow: auto;
    text-align: center;
    background-size: cover;
    position: absolute;
    margin-bottom: 100px;
}

#eqp,#enq,#cult{
    color: black;
    position: absolute;
    text-align: center;
    margin-bottom: 20%;
}

@media only screen and (max-width: 300px){
    #eqp,#enq,#cult{
        margin-bottom: 40%;
    }
    .homepage{
        margin-bottom: 40%;
    }
}

@media only screen and (max-width: 400px){
    #eqp,#enq,#cult{
        margin-bottom: 40%;
    }
    .homepage{
        margin-bottom: 40%;
    }
}

.destaque{
    color: #7d8b71;
    font-size: 30px;
}
#nav{
    font-family: "Montserrat", medium;
    font-size: 20px;
    padding: 5px 5px;
    margin: 10px;
}

h1{
    top: 120px;
    text-align: center;
    margin: 150px;
    font-family: "Montserrat", light;
}

h1#equipamentos:hover{
    background: #222222;
    color: white;
}

h1#pesquisa:hover{
    visibility: hidden;
}

h1#cultura:hover{
    border: 3px solid #bee5eb;
    padding: 5px;
}

h1#enqt:hover{
    color: deeppink;
    text-shadow: 2px 1px 2px #600636;
}


h3{

    text-align: center;
    margin: 100px;
    font-family: "Montserrat", light;
}

#princ{
    top: 220px;
    text-align: center;
    margin: 100px;
    font-family: "Montserrat", semi-condensed;
    font-size: 26px;
    display: block;
    color: #ffc4b1;
}

p#princ::first-letter{
    font-size: 60px;
}


h4{
    text-align: center;
    margin: 100px;
    font-family: "Montserrat", medium;
}
form{
    font-family: "Montserrat", light;
    margin: auto;
    width: 50% !important;
}
.responsive{
    display: block;
}

h2{
    text-align: center;
    margin: 100px;
    font-family: "Montserrat", medium;
}
.pesquisa{
    color:white;
}

a:link, a:visited, a:active, a:hover{
    text-decoration: none;
    font-family: "Montserrat", medium;
}
a:link, a:visited{
    color: white;
}

a:hover{
     color: darksalmon;
 }

#musica,#call{
    margin-top: 50px;
    text-align: center;
    display: block;
    background-color: rgb(190, 229, 235);
    padding:10px;
}

div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #aea9ae;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.gallery img {
    width: 100%;
    height: auto;
}

figcaption.desc {
    padding: 15px;
    text-align: center;
    font-family: "Montserrat", light;
    font-size: 14px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


#ps{
    text-align: center;
}
.form-check{
    display: block;
}

.btn-primary{
    margin: auto;
}

.links{
    display: block;
    text-align: justify;
}

.footer{
    background-color: #ffa480;
    padding: 10px;
    box-shadow: 0 -1px 5px #684334;
    width: 100%;
    bottom: 0;
    right: 0;
    left: 0;
    clear:both;
    position: fixed;
}

.footer a{
    color: #222;
}

.footer a:hover{
    color: #ffffff;
    text-decoration: none;
}
.social:hover {
    -webkit-transform: scale(1.0);
    -webkit-transition-duration: 0.5s;
}
.social {
    -webkit-transform: scale(0.8);
    color: #222;
    padding-left: 10px;
    display: block;
}

.table,#ps {
    margin: auto;
    width: 50% !important;
}

#monstro{
    padding: 5px;
    border: 2px dotted #ffa480;
    border-radius: 5px;
    margin: 5px 10px;
    display: block;
}

